@import "tailwindcss";

:root {
  --background: 10 10 10;
  --foreground: 255 255 255;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
